# Getting Started With Python

Adapted from https://geo-python-upd.readthedocs.io/en/latest/notebooks/L1/a-taste-of-python.html

### About this document

This is a [Jupyter Notebook](https://jupyter.org/). This particular notebook is designed to introduce you to a few of the basic concepts of programming in Python. The contents of this document are divided into cells, which can contain Markdown-formatted text, Python code, or raw text. You can execute a snippet of code in a cell by pressing **Shift-Enter**. Try this out with the examples below.

## Variables, math and functions

We will start our Python lesson by learning a bit of the basic operations you can perform using Python.

### Simple Python math

Python can be used as a simple calculator. Remember, you can press **Shift-Enter** to execute the code in the cells below. Try it out by typing ``1 + 1`` or ``5 * 7`` and see what you get.

In [7]:
1+5

6

In [3]:
5*7

35

In [4]:
100+20+69

189

In [5]:
100*10+1

1001

In [6]:
100*(10+1)

1100

If you want to edit and re-run some code, simply make changes to the cell and press **Shift-Enter** to execute the modified code.

### Functions

You can use Python for more advanced math by using a `function`. Functions are pieces of code that perform a single action such as printing information to the screen (e.g., the `print()` function). Functions exist for a huge number of operations in Python.

Let's try out a few simple examples using functions to find the sine or square root of a value. You can type `sin(3)` or `sqrt(4)` into the cells below to test this out.

In [13]:
math.sin(3)

0.1411200080598672

In [14]:
math.sqrt(4)

2.0

Wait, what? Python canâ€™t calculate square roots or do basic trigonometry? Of course it can, but we need one more step.

### Math operations

The list of basic arithmetic operations that can be done by default in Python is in the table below.

| Operation      | Symbol | Example syntax | Returned value |
| -------------- | ------ | -------------- | -------------- |
| Addition       | `+`    | `2 + 2`        | `4`            |
| Subtraction    | `-`    | `4 - 2`        | `2`            |
| Multiplication | `*`    | `2 * 3`        | `6`            | 
| Division       | `/`    | `4 / 2`        | `2`            |
| Exponentiation | `**`   | `2**3`         | `8`            |

For anything more advanced, we need to load a `module` or `library`. For math operations, this module is called *math* and it can be loaded by typing `import math`. Try that below.

In [12]:
import math

Now that we have access to functions in the math module, we can use it by typing the module name, a period (dot), and the the name of the function we want to use. For example, ``math.sin(3)``. Try this with the sine and square root examples from above.

In [16]:
math.sin(3)

0.1411200080598672

In [15]:
math.sqrt(4)

2.0

Let's summarize what we've just seen with modules:

1. A *module* is a group of code items such as functions that are related to one another. Individual modules are often in a group referred to as a *library*.

2. Modules can be loaded using ``import``. Functions that are part of the module ``modulename`` can then be used by typing ``modulename.functionname()``. For example, ``sin()`` is a function that is part of the ``math`` module, and used by typing ``math.sin()`` with some number between the parentheses.

3. Within a given Jupyter Notebook the variables you define earlier in the notebook will be available for use in the cells that follow as long as you have already executed the cells.

4. Modules may also contain constants such as ``math.pi``. Type this in the cell below to see the value of the contant ``math.pi``.

In [18]:
math.pi

3.141592653589793

#### Check your understanding

Use the empty Python cell below to calculate the sine of pi. What value do you expect for this calculation? Did you get the expected result?

In [19]:
math.sin(math.pi)

1.2246467991473532e-16

In [20]:
math.sin(3.14)

0.0015926529164868282

In [22]:
math.sin(3.141592653589793238462643383279)

1.2246467991473532e-16

In [23]:
print("this is a string")

this is a string

In [24]:
print(this is a string)

SyntaxError: invalid syntax (3147735522.py, line 1)

In [25]:
x

NameError: name 'x' is not defined

In [26]:
'x'

'x'

### Combining functions

Functions can also be combined. The ``print()`` function returns values within the parentheses as text on the screen. Below, try printing the value of the square root of four.

In [27]:
print(math.sqrt(4))

2.0

In [29]:
math.sqrt(math.sin(45+45))

0.945513967956348

You can also combine text with other calculated values using the ``print()`` function. For example, ``print('Two plus two is', 2+2)`` would generate text reading 'Two plus two is 4'. Combine the ``print()`` function with the ``math.sqrt()`` function in the cell below to produce text that reads 'The square root of 4 is 2.0'.

In [31]:
print('Two plus two is', 2+2,'yehey')

Two plus two is 4 yehey

In [34]:
print('The square root of 4 is', math.sqrt(4))

The square root of 4 is 2.0

In [35]:
math.degrees(2*math.pi)

360.0

In [36]:
math.radians(90)

1.5707963267948966

### Variables

A `variable` can be used to store values calculated in expressions and used for other calculations. Assigning value to variables is straightforward. To assign a value, you simply type ``variable_name = value``, where ``variable_name`` is the name of the variable you wish to define. In the cell below, define a variable called ``temp_celsius``, assign it a value of '10.0', and then print that variable value using the ``print()`` function. Note that you should do this on two separate lines.

In [60]:
temp_celsius = 10.0

In [46]:
print(temp_celsius)

10.0

In [47]:
float(10)

10.0

In [48]:
int(temp_celsius)

10

As we did above, you can combine text and even use some math when printing out variable values. The idea is similar to the examples of adding 2+2 or calculating the square root of four from the previous section. In the cell below, print out the value of ``temp_celsius`` in degrees Fahrenheit by multiplying ``temp_celsius`` by 9/5 and adding 32. This should be done within the ``print()`` function to produce output that reads 'Temperature in Fahrenheit: 50.0'.

In [68]:
print('Temperature in Fahrenheit:', ((9/5)*temp_celsius) + 32)

Temperature in Fahrenheit: 59.0

#### Check your understanding

Use the empty Python cell below to define a variable and print its value to the screen using the `print()` function.
The variable value can be anything you like, and you can even consider defining several variables and printing them out together.
Consider using pothole_case_naming for your variable name.

In [52]:
variable1 = 29
variable2 ='hello'
print(variable1, variable2)

29 hello

### Updating variables

Values stored in variables can also be updated. Let's redefine the value of ``temp_celsius`` to be equal to 15.0 and print its value in the cells below.

In [63]:
print(temp_celsius)

15.0

In [62]:
temp_celsius = 15.0

In [64]:
print(temp_celsius)

15.0

```{warning}
If you try to run some code that accesses a variable that has not yet been defined you will get a `NameError` message. Try printing out the value of the variable `tempFahrenheit` using the `print()` function in the cell below.
```

In [67]:
print(tempFahrenheit)

59.0

```{note}
One of the interesting things here is that if we define the undefined variable in a cell lower down in the notebook and execute that cell, we can return to the earlier cell and the code should now work. That was a bit of a complicated sentence, so let's test this all out. First, let's define a variable called `tempFahrenheit` in the cell below and assign it to be equal to `9/5 * temp_celsius + 32`, the conversion factor from temperatures in Celsius to Fahrenheit. Then, return to the cell above this text and run that cell again. See how the error message has gone away? `tempFahrenheit` has now been defined and thus the cell above no longer generates a `NameError` when the code is executed.

Also, the number beside the cell, for example `In [2]`, tells you the order in which the Python cells have been executed. This way you can see a history of the order in which you have run the cells.
```

In [72]:
tempFahrenheit = (9/5)*temp_celsius + 32

Just to check their current values, print out the values of ``temp_celsius`` and ``tempFahrenheit`` in the cell below.

### Variable values

Changing the value of a variable does not affect other variable values. Let's redefine ``temp_celsius`` to be equal to 20.0, and print out the values of ``temp_celsius`` and ``tempFahrenheit``.

In [69]:
temp_celsius = 20

In [70]:
print(temp_celsius)

20

In [73]:
print(tempFahrenheit)

68.0

### Data types

A `data type` determines the characteristics of data in a program.
There are 4 basic data types in Python as shown in the table below.

| Data type name | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| `int`          | Whole integer values | `4`        |
| `float`        | Decimal values       | `3.1415`   |
| `str`          | Character strings    | `'Hot'`    |
| `bool`         | True/false values    | `True`     |

The data type can be found using the `type()` function.
As you will see, the data types are important because some are not compatible with one another.

Let's define a variable ``weatherForecast`` and assign it the value ``'Hot'``. After this, we can check its data type using the ``type()`` function.

In [78]:
type(4)

int

In [79]:
type(4.)

float

In [82]:
weatherForecast = 'Hot'

In [85]:
type(weatherForecast)

str

Let's also check the type of ``tempFahrenheit``. What happens if you try to combine ``tempFahrenheit`` and ``weatherForecast`` in a single math equation such as ``tempFahrenheit + 5.0 * weatherForecast``?

In [87]:
tempFahrenheit + 5.0*weatherForecast

TypeError: can't multiply sequence by non-int of type 'float'

In this case we get at ``TypeError`` because we are trying to execute a math operation with data types that are not compatible. There is no way in Python to multpily numbers with a character string.

In [88]:
type(tempFahrenheit)

float

In [89]:
type(weatherForecast)

str

#### Check your understanding

As it turns out, you can do some math with character strings in Python. Define two variables and assign them character string values in the Python cell below. What happens if you try to add two character strings together? Can you subtract them? Which other math operations work for character strings?

In [92]:
first_variable = 'The weather is '
weatherForecast = 'Hot'

In [93]:
print(first_variable + weatherForecast)

The weather is Hot

In [94]:
print(5*first_variable)

The weather is The weather is The weather is The weather is The weather is

In [95]:
print(first_variable-weatherForecast)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Character input

Python and Jupyter notebooks also let us interact in another way with our code! The built-in [input()](https://docs.python.org/3.6/library/functions.html?highlight=input#input) function reads a line from input and returns it as a string.

Let's try it out. To start, we can define a varaible ``place`` and assign its value using the ``input()`` function to prompt the user for the location where they are from (e.g., ``input('Where are you from? ')``). When the cell is run, the user (you) can type in their response. Once ``place`` is defined, we can say something good about where the user is from (e.g., ``print(place, 'is a nice place!')``).

```{warning}
Jupyter Notebooks might sometimes get stuck when using the `input()` function. If this happens, restart the kernel and run the cell again (**Kernel** -> **Restart Kernel...**).```

In [99]:
place = input("Where are you from?")
print(place, 'is a nice place!')

Where are you from? quezon city

quezon city is a nice place!

Let's try another example in the cell below using the similar approach. Ask the user for a temperature in Celsius using the ``input()`` function and print the input value to the screen.

In [100]:
temperature = input('What is the temperature???')
print('The temperature is', temperature)

What is the temperature??? 32

The temperature is 32

What is the data type of variable `place`? What about the other variable you defined? Check their data types using the cell below.

In [111]:
temp = input("what is the temp???")
print((9/5) * float(temp) + 32)

what is the temp??? 30

86.0

In [110]:
type(temp)

str

What happens when you try to convert your Celsius temperature value to Fahrenheit using the equation from earlier in the lesson?